html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }

p {
    background-color: black;
}

body {
    border: 1px solid red;
}

body {
    border: 1px solid red;
}

body {
    border: 1px solid red;
}

body {
    border: 1px solid red;
}

body {
    border: 1px solid red;
}

body {
    border: 1px solid red;
}

body {
    border: 1px solid red;
}

body {
    border: 1px solid red;
}

body {
    border: 1px solid red;
}

body {
    border: 1px solid red;
}